<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image4</key>
	<string>image4</string>
	<key>image3</key>
	<string>In addition to 21st Century Fox&apos;s movie studio and regional sports networks, Disney is buying cable channels FX and National Geographic. Disney will also get Fox&apos;s stakes in Hulu and 3</string>
	<key>image2</key>
	<string>image2</string>
	<key>image1</key>
	<string>In addition to 21st Century Fox&apos;s movie studio and regional sports networks, Disney is buying cable channels FX and National Geographic. Disney will also get Fox&apos;s stakes in Hulu and 1</string>
</dict>
</plist>
